.site-footer {
    
      text-align: center;
      margin: 5px 0;
      padding: 5px 0;
  }
  
  #social-wrapper {
      text-align: center;
  }
  
  /*Social Media Icons*/
  .social-wrapper {
      text-align: center;
  }
  
  .social-wrapper ul li {
      display: inline;
      margin: 0 5px;
  }
  
  .twitter-icon,
  .facebook-icon,
  .instagram-icon,
  .linkedin-icon,
  .googleplus-icon,
  .youtube-icon,
  .foursquare-icon{
      margin-top: .625em;
      width: 40px;
      height: 40px;
      opacity: .6;
      filter: alpha(opacity=60); /* For IE8 and earlier */
    border-radius: 25px;
  }
  
  .twitter-icon:hover,
  .facebook-icon:hover,
  .instagram-icon:hover,
  .linkedin-icon:hover,
  .googleplus-icon:hover,
  .youtube-icon:hover,
  .foursquare-icon:hover {
      opacity: 1.0;
      filter: alpha(opacity=100); /* For IE8 and earlier */
  }
  
  .footer-nav p {
      text-align: center;
  }
  .footer {
    grid-row-start: 2;
    grid-row-end: 3;
  }
  img {
    max-inline-size: 100%;
  block-size: auto;
  aspect-ratio: 2/1;
  }
  .h1{
    font-size:10vw
  }