@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,800;0,900;1,600;1,700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100%;
    
    opacity: 0.8;
    

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    color: black